body {
  font-family: "Microsoft Yahei", "微软雅黑", Helvetica, Arial, sans-serif;
  color: #333333;
}
a{
  cursor: pointer;
  color: #333333;
}
.navbar-brand {
  padding: 0;
}
.font-12{
  font-size: 12px;
}
.navbar {
  margin-bottom: 0;
  border: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
    position: relative;
  }
}

.nav_bg {
  padding-top: 18px;
  height: 150px;
  .navbar-nav {
    padding: 20px 0;
    list-style: none;
    margin: 0;
    & > li {
      padding: 27px 15px;
      font-size: 18px;
      &.active {
        & > a {
          background: #139ca5;
          text-decoration: none;
          color: #ffffff;
        }
      }
      &.right-top {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin-right: 50px;
        font-size: 14px;
        & > a {
          padding: 0;
          &:hover {
            color: #323333;
            background-color: transparent;
          }
        }
      }
      & > a {
        display: block;
        padding: 5px 10px;
        color: #323333;
        &:hover {
          .caret{
            color:#139ca5;
          }
          background: #139ca5;
          text-decoration: none;
          color: #ffffff;
        }
        &:active,&:focus{
          text-decoration: none;
        }
      }

    }

  }
}

.nav-dropdown {
  .caret {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #ffffff;
  }

  &.active {
    .caret {
      color: #139ca5;
    }
  }

  .dropdown-menu {
    &>li{
      &>a{
        display: inline-block;
        color: #139ca5;
        line-height: 30px;
        &:hover{
          background: transparent;
        }
      }
    }
    top: 112px;
    width:200px;
    border-top: 3px solid #139ca5;
  }
}

.content,.about {
  .banner img {
    max-width: 100%;
  }
  width: 100%;
}

.footer {
  .footer_1 {
    height: 250px;
    overflow: hidden;
    background: #27292e;
    padding: 20px 0 30px 0;
    color: #ffffff;
    h4 {
      font-size: 16px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px dashed #ffffff;
    }
    p {
      margin: 0;
      padding: 0;
      line-height: 23px;
      font-size: 12px;
    }
    .more {
      position: absolute;
      bottom: 5px;
      right: 15px;
      font-size: 12px;
      a {
        color: #ffffff;
      }
    }
    img {
      padding-top: 32px;
    }
    .margin-top {
      margin-top: 6px;
      margin-bottom: 40px;
    }
    .white_frame {
      background: transparent;
      border: 1px solid #ffffff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 18px;
      color: #ffffff;
      padding: 10px 20px;
    }
    .formation {

    }
  }
  .footer_2 {
    text-align: center;
    padding: 30px 0 15px 0;
    background: #dcdddd;
  }
}



/*页面*/
.center_title{
  font-size: 24px;
  background: url("../img/more_bg.png") repeat-x center;
  color: #169caa;
  span{
    color: #cccccc;
  }
  a{
    font-size: 12px;
  }
}

