/*==============================================================================*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Microsoft Yahei", "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    line-height: 1;
}

ul, li {
    list-style: none;
}

.root {
    max-width: 750px;
    padding: 0 30px 60px 30px;
    margin: 0 auto;
    background: #082d44 url("../image/bg.jpg") no-repeat center;
    /*background-size: 100%;*/
    min-height: 100%;
}

.banner {
    max-width: 581px;
    margin: 0 auto;
    padding-top: 125px;
}

.banner img {
    width: 100%;
}

.footer {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    line-height: 40px;
}

.mobile-form {
    font-size: 24px;
    color: #ffffff;
    /*max-width: 581px;*/
    /*margin: 0 auto;*/
    margin-top: 150px;
}

.form-group:before, .form-group:after {
    content: ' ';
    display: table;
    line-height: 0;
}

.form-group:after {
    clear: both;
}

.form-name {
    float: left;
    width: 25%;
    line-height: 80px;
}

.form-input,.form-input_phone {
    background-color: #ffffff;
    float: left;
    height: 80px;
    width: 75%;
    padding: 0 20px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-input_phone{
    width: 45%;
}
.form-valite,.btn{
    width: 30%;
    background: #72c5d7;
    color: #0e3665;
    font-size: 24px;
    height: 80px;
    border: none;
    float: left;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}
.form-group{
    margin-bottom: 30px;
}
.btn{
    font-size: 30px;
    float: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px 20px;
}


@media screen and (max-width:480px){
    .banner{
    padding-top:80px;
    }
    .mobile-form{
        font-size: 15px;
        margin-top:50px;
    }
    .form-name {
        line-height: 50px;
    }
    .form-input,.form-input_phone{
        height: 50px;
        line-height: 50px;
    }
    .form-valite,.btn{
        font-size: 12px;
        height: 50px;
        line-height: 50px;
    }
    .btn{
        font-size: 16px;
        margin-top: 40px;
    }
    .footer{
        font-size: 15px;
        line-height: 25px;
    }
}



/*弹窗*/
.modal{
    background: rgba(0,0,0,0.7);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.modal-inner{
    width: 80%;
    text-align: center;
    padding: 40px;
    background: #ffffff;
    margin: 0 auto;
    margin-top:40%;
    font-size: 24px;
}
.modal .btn_close{
    background: #00385c;
    color: #ffffff;
    padding: 6px 20px;
    text-align: center;
    line-height: 30px;
    border: none;
    margin-top:30px;
}
@media screen and (max-width:480px){
    .modal-inner{
        font-size: 16px;
    }
}

/*成功领取*/
.qcode{
    background: url("./../image/qcode.png") no-repeat center;
    text-align: center;
    background-color: #082d45;
}
.success{
    font-size: 24px;
    color: #ffffff;
}
.success p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.export{
    padding: 50px;
    background: url("./../image/export.png") no-repeat center;
    background-size: cover;
    font-size: 16px;
    height: 720px;
}
.export p{
    color: #00385c;
    font-size: 24px;
    margin-bottom: 30px;
}
.export img{
    max-width: 340px;
}




@media screen and (max-width:480px){
    .export{
        height:500px ;
    }
}

@media screen and (max-width:320px){
    .export{
        height:400px ;
    }
    .success p{
        font-size: 14px;
        margin-bottom: 30px;
    }
}