/*==============================================================================*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 30px;
}

body {
    font-family: "Microsoft Yahei", "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #ffffff;
    background-color: #ffffff;
    line-height: 1;
}

ul, li {
    list-style: none;
}

.root {
    max-width: 750px;
    margin: 0 auto;
    background: #082d44 url("../image/bg.jpg") no-repeat;
    height: 100%;
    overflow: auto;
    background-size: 100%;
}

.inner {
    max-width: 581px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 10%;
}

.banner {
}

.banner img {
    width: 100%;
}

.info {
    margin: 7% 0 3% 0;
    text-align: center;
}

.mobile-form {
}

.form-group {
    padding-top: 7%;
}

.form-group:before, .form-group:after {
    content: ' ';
    display: table;
    line-height: 0;
}

.form-group:after {
    clear: both;
}

.form-name {
    float: left;
    width: 25%;
    line-height: 2rem;
}

.form-input, .form-input_phone {
    background-color: #ffffff;
    float: left;
    height: 2rem;
    line-height: 2rem;
    width: 75%;
    padding: 0 20px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-input_phone {
    width: 45%;
}

.form-valite, .btn {
    width: 30%;
    background: #72c5d7;
    color: #0e3665;
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    border: none;
    float: left;
    text-align: center;
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    float: inherit;
    display: block;
    margin: 2rem auto 0 auto;
    height: 2.6666rem;
    line-height: 2.6666rem;
}

.footer {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4;
    padding: 1.3333rem 0 1.6666rem 0;
}

/*弹窗*/
.modal {
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.modal-inner {
    color: #00385c;
    width: 80%;
    text-align: center;
    padding: 40px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 40%;
    font-size: 24px;
}

.modal .btn_close {
    background: #00385c;
    color: #ffffff;
    padding: 6px 20px;
    text-align: center;
    line-height: 30px;
    border: none;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .modal-inner {
        font-size: 16px;
    }
}

/*成功领取*/
.qcode {
    background: url("./../image/qcode.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    background-color: #082d45;
}

.success {
    font-size: 1.2rem;
}

.success p {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 2.3333rem;
}

.qcode-img {
    max-width: 594px;
    margin: 0 auto;
    width: 100%;
}

/*

/!*成功领取*!/
.qcode {
    background: url("./../image/qcode.png") no-repeat center;
    text-align: center;
    background-color: #082d45;
}

.success {
    font-size: 24px;
    color: #ffffff;
}

.success p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.export {
    padding: 50px;
    background: url("./../image/export.png") no-repeat center;
    background-size: cover;
    font-size: 16px;
    height: 720px;
}

.export p {
    color: #00385c;
    font-size: 24px;
    margin-bottom: 30px;
}

.export img {
    max-width: 340px;
}

@media screen and (max-width: 480px) {
    .export {
        height: 500px;
    }
}

@media screen and (max-width: 320px) {
    .export {
        height: 400px;
    }

    .success p {
        font-size: 14px;
        margin-bottom: 30px;
    }
}
*/
