.about{
  background: #efefef;
  .container{
    padding:0;
    margin-top: -52px;
    background: #ffffff;
    .title{
      font-size: 18px;
      font-weight:bold;
      color:#02a3ad;
      padding:13px 30px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}
.about_china{
  padding-bottom:150px;
  position: relative;
  min-height:550px;
  &.lsyg{
    padding-bottom: 0;
    .china_right{
      dl{
        width: 100%;
        dt{
          float: left;
          width: 12%;
          height: 30px;
          line-height: 30px;
          color: #FFFFFF;
          padding-right: 22px;
          text-align: center;
          background: url("../img/about/ls01.png") no-repeat left;
          position: relative;
        }
        dd{
          float: left;
          width:88%;
          border-left: 5px solid #cccccc;
          padding-left: 20px;
          margin-left: -5px;
          padding-bottom: 50px;
          font-size: 12px;
          img{
            margin-bottom: 20px;
          }
          &:last-child{
            padding-bottom: 150px;
          }
        }
      }
    }

  }
  .china_left{
    position: absolute;
    top:0;
    bottom:0;
    width: 200px;
    float: left;
    .nav{
      li{
        border-bottom: 1px solid #cccccc;
        a{
          background: url("../img/about/arrow-left.png") no-repeat 180px;
          font-size: 16px;
          color: #333333;
          padding:18px;
        }
      }
      li.active,li:hover{
        a{
          color: #ffffff;
          background: url("../img/about/arrow-left-hover.png") no-repeat 180px;
          background-color: #139ca5;
        }
      }
    }
  }
  .china_right{
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 250px;
    width:100%;
    float: left;
    p{
      line-height:25px;
      color: #666666;
    }
    .media-body{
      //padding-left:30px;
    }
    &.jlck{
      .row{
        margin-bottom: 30px;

      }
    }
    &.whln{
      .media-body{
        padding-left: 15px;
        padding-top: 15px;
      }
      p{
        text-indent: 30px;
      }
    }
    &.byfc{
      .byfc_title{
        font-size: 18px;
        color: #139ca5;
        margin: 20px 0;
        text-align: center;
        font-weight: bold;
        &.text-left{
          text-align: left;
        }
      }
      .row{
        margin-bottom: 50px;
      }
    }
    &.about_we{
      img{
        margin-bottom: 30px;
      }
      p{
        text-indent: 30px;
        line-height: 30px;
      }
    }
  }
}