.more-culture{
  background: url("../img/line.png") repeat-x center;
  text-align: right;
  a{
    background: #ffffff;
    padding:0 10px;
    color: #139ca5;
    font-size: 14px;
  }
}
.culture_nav{
  list-style: none;
  padding: 0;
  margin: 0;
}