.classification {
  .wuye {
    background: url("../img/wuye.png") no-repeat top;
  }
  .maoyi {
    background: url("../img/maoyi.png") no-repeat top;
  }
  .jiaoyu {
    background: url("../img/jiaoyu.png") no-repeat top;
  }
  .jiankang {
    background: url("../img/jiankang.png") no-repeat top;
  }
  .jinrong {
    background: url("../img/jinrong.png") no-repeat top;
  }
  .email {
    background: url("../img/logo_bg.png") no-repeat center;
    font-size: 18px;
    margin-top: 35px;
    font-weight: bold;
    text-align: center;
    a{
      color: #159ba6;

    }
    img {
      margin-bottom: 20px;
    }
  }
  .row {
    margin-top: 30px;
    .index_2 {
      .col-md-2 {
        width: 20%;
        & > div {
          text-align: center;
          max-width: 140px;
          padding-top: 150px;
          font-size: 16px;
          font-weight: bold;
          span {
            display: none;
            font-size: 12px;
            line-height: 20px;
          }
          &:hover {
            padding-top: 0;
            background: url("../img/wu_bg.png") no-repeat top;
            span {
              display: block;
              height: 150px;
              padding: 40px 15px;
            }
          }
          p {
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }

  }
  .carousel-indicators {
    text-align: right;
    width: 100%;
    bottom: 0;
    left: inherit;
    margin-left: -10px;
    li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 0;
      background: #FFFFFF;
      margin: 0;
    }
    .active {
      width: 10px;
      height: 10px;
      background: #d3aa2e;
    }
  }

}