.party_position {
  color: #999999;

  .text-dark {
    color: #666666;
  }

  .container {
    margin-top: -52px;
    background: #ffffff;
  }

  .box-head {
    color: #02a3ad;
    font-size: 18px;
    padding: 20px 30px;

    .title {
      border-left: 3px solid #ff7800;
    }

  }
  .look-more {
    font-size: 14px;
    color: #666666;
  }

  .img-box {
    position: relative;
    margin: 0 0 0 16px;

    img {
      width: 100%;
    }
  }
  .img-info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 20px;
    background: rgba(25, 32, 43, 0.7);
    color: #ffffff;
  }

  .media {
    margin-top: 27px;
    margin-left: 12px;
  }

  .media:first-child {
    margin-top: 0;
  }
  .media-heading {
    color: #666666;
    font-size: 16px;
    margin-bottom: 13px;
  }

}